.tabs-component {
  height: 100%;
}
.tabs-component .tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 50px;
  padding-left: 5px;
  box-sizing: border-box;
}
.tabs-component .tabs-container .tab {
  float: left;
  height: 35px;
  margin-right: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  color: #1E88E5;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
}
.tabs-component .tabs-container .tab.active {
  height: 40px;
  margin-bottom: -1px;
  font-family: "Roboto Bold";
  line-height: 30px;
  color: #0D47A1;
  border-bottom: 1px solid white;
  cursor: default;
}
.tabs-component .tabs-content {
  border-top: 1px solid lightgray;
}
