@app-background-color: #ECEFF1;
@app-header-height: 70px;
@app-header-background-color: #006064;


@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

html, body {
  //height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Regular';
  background: @app-background-color;
}



#app-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: @app-header-height;
  background: @app-header-background-color;
}

#app-wrapper {
  overflow: auto;
  position: absolute;
  top: @app-header-height;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box;

  #app-content-wrapper {
    //overflow: auto;
  }
}
