@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Regular';
  background: #ECEFF1;
}
#app-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  background: #006064;
}
#app-wrapper {
  overflow: auto;
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box;
}
