@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
  height: 100%;
  background: white;
  font-family: 'Roboto Regular';
}


input[type='text'] {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}