@import (reference) 'margins';
@import (reference) 'colors';


@form-error-font-size: 12px;

.form-error {
  .margin-top-5;
  font-size: @form-error-font-size;
  color: @color-red-active;

  .fa {
    .margin-right-5;
  }
}


.form-caption {
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
}