input[type='text'] {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  height: 30px;
  box-sizing: border-box;
  font-size: 13px;
  color: black;
  background: transparent;
  border: none;
  border-bottom: 1px solid #CFD8DC;
  outline: none;
}
input[type='text'][disabled] {
  color: #757575;
}
label {
  display: inline-block;
  font-size: 13px;
  color: #999;
}
