<div id="violation-component">
    <div id="attachments"></div>
    <div id="details">
        <tabs id="violation-tabs">
            <tab id="violation-details" title="Информация" width="33%">
                <div id="details-container" class="row padding-20">
                    <div class="row">
                        <h2>Нарушение № {{ $ctrl.violation.id }}</h2>
                        <input type="time" name="" id="">
                    </div>
                    <div class="row">
                        <h2>Нарушение № {{ $ctrl.violation.id }}</h2>
                        <input type="time" name="" id="">
                    </div>
                    <div class="row">
                        <h2>Нарушение № {{ $ctrl.violation.id }}</h2>
                        <input type="time" name="" id="">
                    </div>
                    <div class="row">
                        <h2>Нарушение № {{ $ctrl.violation.id }}</h2>
                        <input type="time" name="" id="">
                    </div>
                    <div class="row">
                        <h2>Нарушение № {{ $ctrl.violation.id }}</h2>
                        <input type="time" name="" id="">
                    </div>
                    <div class="row">
                        <h2>Нарушение № {{ $ctrl.violation.id }}</h2>
                        <input type="time" name="" id="">
                    </div>
                    <div class="row">
                        <h2>Нарушение № {{ $ctrl.violation.id }}</h2>
                        <input type="time" name="" id="">
                    </div>
                </div>
            </tab>
            <tab id="violation-attachments" title="Документы" width="33%"></tab>
            <tab id="violation-discussion" title="Обсуждение" width="33%"></tab>
        </tabs>
    </div>
</div>